<?xml version="1.0"?>
<config>
    <modules>
        <Te_Enhancedbo>
            <version>0.1.0</version>
        </Te_Enhancedbo>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Te_Enhancedbo>
                    <files>
                        <default>Te_Enhancedbo.csv</default>
                    </files>
                </Te_Enhancedbo>
            </modules>
        </translate>
    </frontend>
    <global>
		<models>
			<te_enhancedbo>
				<class>Te_Enhancedbo_Model</class>
			</te_enhancedbo>
		</models>
		<blocks>
			  <te_enhancedbo>
			  	<class>Te_Enhancedbo_Block</class>
			  </te_enhancedbo>
		</blocks>
		<helpers>
			<te_enhancedbo>
				<class>Te_Enhancedbo_Helper</class>
			</te_enhancedbo>
		</helpers>

    </global>
    <adminhtml>
        <events>
			<sales_order_grid_collection_load_before>
				<observers>
					<te_enhancedbo_sales_order_grid_collection_before_load>
						<class>te_enhancedbo/sales_order_grid_observer</class>
						<method>collectionBeforeLoad</method>
					</te_enhancedbo_sales_order_grid_collection_before_load>
				</observers>
			</sales_order_grid_collection_load_before>
			<core_block_abstract_prepare_layout_before>
                <observers>
                    <te_enhancedbo_sales_order_grid_prepare_layout_before>
                        <type>model</type>
                        <class>te_enhancedbo/sales_order_grid_observer</class>
                        <method>prepareLayout</method>
                    </te_enhancedbo_sales_order_grid_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <before_grid_add_column>
                <observers>
                    <te_enhancedbo_sales_order_grid_before_grid_add_column>
                        <type>model</type>
                        <class>te_enhancedbo/sales_order_grid_observer</class>
                        <method>addColumn</method>
                    </te_enhancedbo_sales_order_grid_before_grid_add_column>
                </observers>
            </before_grid_add_column>
		</events>
	</adminhtml>
</config>
