<?xml version="1.0"?>
  <config>
    <modules>
        <Dvl_Sapbyd>
          <version>1.0.0</version>
        </Dvl_Sapbyd>
    </modules>
	<global>
		<models>
			<dvl_sapbyd>
				<class>Dvl_Sapbyd_Model</class>
				<resourceModel>dvl_sapbyd_mysql4</resourceModel>
			</dvl_sapbyd>
			<dvl_sapbyd_mysql4>
				<class>Dvl_Sapbyd_Model_Mysql4</class>
				<entities>
					<customer>
						<table>dvl_sapbyd_customer</table>
					</customer>
					<log>
						<table>dvl_sapbyd_log</table>
					</log>
					<order>
						<table>dvl_sapbyd_order</table>
					</order>
					<orderitem>
						<table>dvl_sapbyd_order_item</table>
					</orderitem>
				</entities>
			</dvl_sapbyd_mysql4>
		</models>
		<resources>
			<sapbyd_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sapbyd_write>
			<sapbyd_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sapbyd_read>
			<sapbyd_setup>
				 <setup>
				 	<module>Dvl_Sapbyd</module>
				 </setup>
			</sapbyd_setup>
		</resources>
		<events>
			<success_paybox>
				<observers>
					<sapbyd_save_order>
						<type>singleton</type>
						<class>Dvl_Sapbyd_Model_Observer</class>
						<method>addOrder</method>
					</sapbyd_save_order>
				</observers>
			</success_paybox>
			<controller_action_postdispatch>
                <observers>
                    <controller_action_after>
                        <class>Dvl_Sapbyd_Model_Observer</class>
                        <method>bypassCartControllerActionPostDispatch</method>
                    </controller_action_after>
                </observers>
            </controller_action_postdispatch>
			<add_to_cart_after>
                <observers>
                    <add_to_cart_after>
                        <class>Dvl_Sapbyd_Model_Observer</class>
                        <method>bypassCart</method>
                    </add_to_cart_after>
                </observers>
            </add_to_cart_after>
		</events>
		<helpers>
			<sapbyd>
				<class>Dvl_Sapbyd_Helper</class>
			</sapbyd>
		</helpers>		    
    </global>
    <admin>
		<routers>
			<sapbyd>
				<use>admin</use>
				<args>
					<module>Dvl_Sapbyd</module>
					<frontName>sapbyd</frontName>
				</args>
			</sapbyd>
		</routers>
	</admin>
    <frontend>
       <routers>
          <sapbyd>
              <use>standard</use>
              <args>
                 <module>Dvl_Sapbyd</module>
                 <frontName>dvlsapbyd</frontName>
              </args>
           </sapbyd>
       </routers>
    </frontend>    
</config>