<?xml version="1.0"?>
<config>
    <tabs>
        <sapbyd_extensions>
            <label>DEVIALET</label>
            <sort_order>1001</sort_order>
        </sapbyd_extensions>
    </tabs>
    <sections>
        <sapbyd translate="label" module="sapbyd">
            <label>DEVIALET SAP ByD</label>
            <class>sapbyd-section</class>
            <header_css>sapbyd-header</header_css>
            <tab>sapbyd_extensions</tab>
            <frontend_type>text</frontend_type>
            <sort_order>999999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
        		<general translate="label comment">
                    <expanded>1</expanded>
                    <label>General</label>
                    <comment>General settings that are required to connect Zendesk and Magento.</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
                        <domain translate="label comment">
                            <label>Zendesk Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<i>yourdomain</i>.zendesk.com]]></comment>
                        </domain>
                    </fields>
                </general> 
            </groups>                                
    	</sapbyd>
    </sections>
</config>
