<?xml version="1.0" encoding="UTF-8"?>
 <config>
	<modules>
		<Customweb_PayboxCw>
			<version>1.3.0</version>
		</Customweb_PayboxCw>
	</modules>
	<global>
		<models>
			<payboxcw>
				<class>Customweb_PayboxCw_Model</class>
				<resourceModel>payboxcw_mysql4</resourceModel>
			</payboxcw>
			<payboxcw_mysql4>
				<class>Customweb_PayboxCw_Model_Mysql4</class>
				<entities>
					<aliasdata>
						<table>payboxcw_alias_data</table>
					</aliasdata>
					<customercontext>
						<table>payboxcw_customer_context</table>
					</customercontext>
					<transaction>
						<table>payboxcw_transaction</table>
					</transaction>
					<storage>
						<table>payboxcw_storage</table>
					</storage>
				</entities>
			</payboxcw_mysql4>
			
			<checkout>
				<rewrite>
					<cart>Customweb_PayboxCw_Model_Checkout_Cart</cart>
				</rewrite>
			</checkout>
		</models>
		<blocks>
			<payboxcw><class>Customweb_PayboxCw_Block</class></payboxcw>
			
			<adminhtml>
				<rewrite>
					<sales_order_invoice_view>Customweb_PayboxCw_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<PayboxCw>
				<class>Customweb_PayboxCw_Helper</class>
			</PayboxCw>
		</helpers>
		<resources>
			<payboxcw_write>
				<connection>
					<use>core_write</use>
				</connection>
			</payboxcw_write>
			<payboxcw_read>
				<connection>
					<use>core_read</use>
				</connection>
			</payboxcw_read>
			<payboxcw_setup>
				 <setup>
				 	<module>Customweb_PayboxCw</module>
				 	<class>Customweb_PayboxCw_Model_Resource_Setup</class>
				 </setup>
			</payboxcw_setup>
		</resources>
		<events>
			<adminhtml_sales_order_invoice_view_construct>
				<observers>
					<payboxcw_invoice_view>
						<type>singleton</type>
						<class>Customweb_PayboxCw_Model_Observer</class>
						<method>invoiceView</method>
					</payboxcw_invoice_view>
				</observers>
			</adminhtml_sales_order_invoice_view_construct>
			<checkout_cart_init>
				<observers>
					<payboxcw_init_cart>
						<type>singleton</type>
						<class>Customweb_PayboxCw_Model_Observer</class>
						<method>initCart</method>
					</payboxcw_init_cart>
				</observers>
			</checkout_cart_init>
			<sales_order_place_after>
				<observers>
					<payboxcw_save_order>
						<type>singleton</type>
						<class>Customweb_PayboxCw_Model_Observer</class>
						<method>saveOrder</method>
					</payboxcw_save_order>
				</observers>
			</sales_order_place_after>
			<sales_order_payment_capture>
				<observers>
					<payboxcw_capture_payment>
						<type>singleton</type>
						<class>Customweb_PayboxCw_Model_Observer</class>
						<method>capturePayment</method>
					</payboxcw_capture_payment>
				</observers>
			</sales_order_payment_capture>
			<order_cancel_after>
				<observers>
					<payboxcw_cancel_order>
						<type>singleton</type>
						<class>Customweb_PayboxCw_Model_Observer</class>
						<method>cancelOrder</method>
					</payboxcw_cancel_order>
				</observers>
			</order_cancel_after>
			<controller_action_postdispatch_adminhtml_sales_order_create_save>
				<observers>
					<payboxcw_moto_after_save>
						<type>singleton</type>
						<class>Customweb_PayboxCw_Model_MotoObserver</class>
						<method>postOrderSave</method>
					</payboxcw_moto_after_save>
				</observers>
			</controller_action_postdispatch_adminhtml_sales_order_create_save>
			<controller_action_predispatch_adminhtml_sales_order_create_save>
				<observers>
					<payboxcw_moto_before_save>
						<type>singleton</type>
						<class>Customweb_PayboxCw_Model_MotoObserver</class>
						<method>beforeOrderSave</method>
					</payboxcw_moto_before_save>
				</observers>
			</controller_action_predispatch_adminhtml_sales_order_create_save>
		</events>
		<sales>
			<order>
				<statuses>
					<canceled_payboxcw translate="label">
						<label>Canceled PayboxCw</label>
					</canceled_payboxcw>
					<pending_payboxcw translate="label">
						<label>Pending PayboxCw</label>
					</pending_payboxcw>
				</statuses>
				<states>
					<canceled>
						<statuses>
							<canceled_payboxcw />
						</statuses>
					</canceled>
					<pending_payment>
						<statuses>
							<pending_payboxcw />
						</statuses>
					</pending_payment>
				</states>
			</order>
		</sales>
	</global>

	<adminhtml>
		<layout>
			<updates>
				<payboxcw>
					<file>payboxcw.xml</file>
				</payboxcw>
			</updates>
		</layout>
		<translate>
			<modules>
				<Customweb_PayboxCw>
					<files>
						<default>Customweb_PayboxCw.csv</default>
					</files>
				</Customweb_PayboxCw>
			</modules>
		</translate>
	</adminhtml>
	
	<crontab>
		<jobs>
			<payboxcw_cron>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>payboxcw/CronObserver::executeCron</model>
				</run>
			</payboxcw_cron>
		</jobs>
	</crontab>

	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Customweb_PayboxCw after="Mage_Adminhtml">Customweb_PayboxCw</Customweb_PayboxCw>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

	<frontend>
		<secure_url>
			<payboxcw>/PayboxCw/</payboxcw>
		</secure_url>
		<blocks>
			<PayboxCw>
				<class>Customweb_PayboxCw_Block</class>
			</PayboxCw>
		</blocks>
		<layout>
			<updates>
				<payboxcw>
					<file>payboxcw.xml</file>
				</payboxcw>
			</updates>
		</layout>
		<routers>
			<PayboxCw>
				<use>standard</use>
				<args>
					<module>Customweb_PayboxCw</module>
					<frontName>PayboxCw</frontName>
				</args>
			</PayboxCw>
		</routers>
		
		<translate>
			<modules>
				<Customweb_PayboxCw>
					<files>
						<default>Customweb_PayboxCw.csv</default>
					</files>
				</Customweb_PayboxCw>
			</modules>
		</translate>
	</frontend>
	<default>
		<payboxcw>
			<general>
				<version>1.0.49</version>
				<operation_mode>test1</operation_mode>
				<paybox_hmac_key></paybox_hmac_key>
				<paybox_rang></paybox_rang>
				<paybox_site></paybox_site>
				<paybox_identifier></paybox_identifier>
				<paybox_shop_password></paybox_shop_password>
				<order_id_schema>{id}</order_id_schema>
				<transaction_updates>inactive</transaction_updates>
				<cancel_existing_orders>0</cancel_existing_orders>
				<wait_for_success>0</wait_for_success>
			</general>
		</payboxcw>
		<payment>
			<payboxcw_creditcard>
				<model>payboxcw/Method_CreditCard</model>
				<active>0</active>
				<title>Credit Card</title>
				<description>Pay with Credit Card</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<credit_card_brands>visa,mastercard,americanexpress,diners,jcb</credit_card_brands>
				<brand_selection>active</brand_selection>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_creditcard>
			<payboxcw_visa>
				<model>payboxcw/Method_Visa</model>
				<active>0</active>
				<title>Visa</title>
				<description>Pay with Visa</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_visa>
			<payboxcw_mastercard>
				<model>payboxcw/Method_MasterCard</model>
				<active>0</active>
				<title>MasterCard</title>
				<description>Pay with MasterCard</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_mastercard>
			<payboxcw_americanexpress>
				<model>payboxcw/Method_AmericanExpress</model>
				<active>0</active>
				<title>American Express</title>
				<description>Pay with American Express</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<allowspecific>0</allowspecific>
			</payboxcw_americanexpress>
			<payboxcw_diners>
				<model>payboxcw/Method_Diners</model>
				<active>0</active>
				<title>Diners Club</title>
				<description>Pay with Diners Club</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<allowspecific>0</allowspecific>
			</payboxcw_diners>
			<payboxcw_jcb>
				<model>payboxcw/Method_Jcb</model>
				<active>0</active>
				<title>JCB</title>
				<description>Pay with JCB</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_jcb>
			<payboxcw_aurore>
				<model>payboxcw/Method_Aurore</model>
				<active>0</active>
				<title>Aurore</title>
				<description>Pay with Aurore</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_aurore>
			<payboxcw_bcmc>
				<model>payboxcw/Method_Bcmc</model>
				<active>0</active>
				<title>Bancontact / Mister Cash</title>
				<description>Pay with Bancontact / Mister Cash</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_bcmc>
			<payboxcw_paypal>
				<model>payboxcw/Method_PayPal</model>
				<active>0</active>
				<title>PayPal</title>
				<description>Pay with PayPal</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_paypal>
			<payboxcw_uneurocom>
				<model>payboxcw/Method_UnEuroCom</model>
				<active>0</active>
				<title>1Euro.com</title>
				<description>Pay with 1Euro.com</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_uneurocom>
			<payboxcw_ideal>
				<model>payboxcw/Method_IDeal</model>
				<active>0</active>
				<title>iDEAL</title>
				<description>Pay with iDEAL</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_ideal>
			<payboxcw_oney>
				<model>payboxcw/Method_Oney</model>
				<active>0</active>
				<title>Oney</title>
				<description>Pay with Oney</description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<Currency>1</Currency>
				<use_base_currency>0</use_base_currency>
				<allowspecific></allowspecific>
				<specificcountry></specificcountry>
				<sort_order></sort_order>
				<min_order_total></min_order_total>
				<max_order_total></max_order_total>
				<settlement>settlement_direct</settlement>
				<capturing>sale</capturing>
				<status_authorized>pending</status_authorized>
				<status_uncertain>holded</status_uncertain>
				<status_captured>no_status_change</status_captured>
				<authorizationMethod>PaymentPage</authorizationMethod>
				<alias_manager>inactive</alias_manager>
				<allowspecific>0</allowspecific>
			</payboxcw_oney>
		</payment>
	</default>
</config>