<?xml version="1.0"?>
<config>
    <modules>
        <Te_SapbydExport>
            <version>0.1.0</version>
        </Te_SapbydExport>
    </modules>
    <global>
		<models>
			<te_sapbydexport>
				<class>Te_SapbydExport_Model</class>
			</te_sapbydexport>
		</models>
		<blocks>
			  <te_sapbydexport>
			  	<class>Te_SapbydExport_Block</class>
			  </te_sapbydexport>
		</blocks>
		<helpers>
			<te_sapbydexport>
				<class>Te_SapbydExport_Helper</class>
			</te_sapbydexport>
		</helpers>
        <template>
            <email>
                <sap_order_error  module="te">
                    <label>te_sapbydexport</label>
                    <file>sap_order_error.html</file>
                    <type>html</type>
                </sap_order_error>
            </email>
        </template>
    </global>
    <adminhtml>
        <events>
            <export_order_to_sapbyd>
                <observers>
                    <te_sapbydexport_export_order>
                        <type>model</type>
                        <class>te_sapbydexport/observer</class>
                        <method>exportOrders</method>
                    </te_sapbydexport_export_order>
                </observers>
            </export_order_to_sapbyd>
            <export_customer_to_sapbyd>
                <observers>
                    <te_sapbydexport_export_customer>
                        <type>model</type>
                        <class>te_sapbydexport/observer</class>
                        <method>exportCustomer</method>
                    </te_sapbydexport_export_customer>
                </observers>
            </export_customer_to_sapbyd>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <sapbyd_export_order>
                <schedule>
                   <cron_expr>*\10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>te_sapbydexport/observer::exportOrders</model>
                </run>
            </sapbyd_export_order>
            <sapbyd_send_report>
                <schedule>
                    <cron_expr>*\10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>te_sapbydexport/observer::sendReport</model>
                </run>
            </sapbyd_send_report>
        </jobs>
    </crontab>
    <default>
        <te_sapbydexport>
            <general>
                <email_template>sap_order_error</email_template>
            </general>
        </te_sapbydexport>
    </default>
    <frontend>
        <layout>
            <updates>
                <te_sapbydexport module="Te_SapbydExport">
                    <file>te_sapbydexport.xml</file>
                </te_sapbydexport>
            </updates>
        </layout>
    </frontend>
</config>
