<?xml version="1.0"?>
<config>
    <modules>
        <Te_Coupon>
            <version>0.1.0</version>
        </Te_Coupon>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Te_Coupon>
                    <files>
                        <default>Te_Coupon.csv</default>
                    </files>
                </Te_Coupon>
            </modules>
        </translate>
    </frontend>
    <global>
		<models>
			<te_coupon>
				<class>Te_Coupon_Model</class>
			</te_coupon>
		</models>
		<blocks>
			  <te_coupon>
			  	<class>Te_Coupon_Block</class>
			  </te_coupon>
		</blocks>
		<helpers>
			<te_coupon>
				<class>Te_Coupon_Helper</class>
			</te_coupon>
		</helpers>

    </global>
    <frontend>
        <events>
			<controller_action_layout_load_before>
				<observers>
					<te_coupon>
						<class>te_coupon/observer</class>
						<method>applyCoupon</method>
					</te_coupon>
				</observers>
			</controller_action_layout_load_before>
		</events>
	</frontend>
</config>
