<?xml version="1.0"?>
<config>
	<modules>
		<Adfab_Avatar>
			<version>1.1.0</version>
		</Adfab_Avatar>
	</modules>
	<frontend>
	    <routers>
            <avatar>
                <use>standard</use>
                <args>
                    <module>Adfab_Avatar</module>
                    <frontName>avatar</frontName>
                </args>
            </avatar>
        </routers>
		<translate>
			<modules>
				<Adfab_Avatar>
					<files>
						<default>Adfab_Avatar.csv</default>
					</files>
				</Adfab_Avatar>
			</modules>
		</translate>
		<layout>
			<updates>
				<avatar>
					<file>adfab_avatar.xml</file>
				</avatar>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<avatar>
					<file>avatar.xml</file>
				</avatar>
			</updates>
		</layout>
		<translate>
			<modules>
				<Adfab_Avatar>
					<files>
						<default>Adfab_Avatar.csv</default>
					</files>
				</Adfab_Avatar>
			</modules>
		</translate>
		<events>
			<!-- cet observer me permet de recuperer les valeurs de moderation pour le grid customer sans rewrite -->
			<eav_collection_abstract_load_before>
				<observers>
					<adfab_avatar_eav_before>
						<class>Adfab_Avatar_Model_Adminhtml_Observer</class>
						<method>customer_eav_load_before</method>
					</adfab_avatar_eav_before>
				</observers>
			</eav_collection_abstract_load_before>
			<!-- cet observer me permet de maj le grid customer + le form account sans rewrite -->
			<adminhtml_block_html_before>
				<observers>
					<adfab_avatar_block_before>
						<class>Adfab_Avatar_Model_Adminhtml_Observer</class>
						<method>customer_block_html_before</method>
					</adfab_avatar_block_before>
				</observers>
			</adminhtml_block_html_before>
			<!-- cet observer me permet de save la moderation avatar sans obliger l'affichage de l'attribut quand le module est desactive -->
			<adminhtml_customer_prepare_save>
				<observers>
					<adfab_avatar_save_before>
						<class>Adfab_Avatar_Model_Adminhtml_Observer</class>
						<method>customer_prepare_save</method>
					</adfab_avatar_save_before>
				</observers>
			</adminhtml_customer_prepare_save>
		</events>
	</adminhtml>
	<global>
		<!-- Version <= 1.4.1 -->
		<fieldsets>
			<customer_account>
				<avatar_valid>
					<create>1</create>
					<update>1</update>
				</avatar_valid>
				<avatar_src>
					<create>1</create>
					<update>1</update>
				</avatar_src>
			</customer_account>
		</fieldsets>
		<models>
			<avatar>
				<class>Adfab_Avatar_Model</class>
				<resourceModel>avatar_resource</resourceModel>
			</avatar>
		</models>
		<resources>
			<avatar_setup>
				<setup>
					<module>Adfab_Avatar</module>
					<class>Adfab_Avatar_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</avatar_setup>
		</resources>
		<blocks>
			<avatar>
				<class>Adfab_Avatar_Block</class>
			</avatar>
		</blocks>
		<helpers>
			<avatar>
				<class>Adfab_Avatar_Helper</class>
			</avatar>
		</helpers>
		<events>
			<customer_save_before>
				<observers>
					<adfab_avatar_save_before>
						<type>singleton</type>
						<class>Adfab_Avatar_Model_Observer</class>
						<method>customer_save_before</method>
					</adfab_avatar_save_before>
				</observers>
			</customer_save_before>
		</events>
	</global>
</config>