.photoMsg { position:absolute; top:70px; left:0; color:#FF0000; }
.Upload .btnParcourir { height:19px; width:64px; margin-bottom:5px;background:url(../images/wpTunnel/btnParcourir.png); }
.Upload .avatar { width:125px; margin-right:6px; display:inline; }